<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jst?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>-->
    
    <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
    <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
    <property name="hibernate.connection.url">jdbc:firebirdsql:class.mmcs.sfedu.ru:/fbdata/kibimedia.fdb?encoding=utf8&amp;useUnicode=true&amp;characterEncoding=utf8</property>
    <property name="hibernate.connection.username">PM44</property>
    <property name="hibernate.connection.password">pm44</property>
    
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>

    <!-- Disable the second-level cache -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
      
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    
    <!-- Mapping files -->
    <mapping class="ru.sfedu.kibimedia.tables.News" />
    <mapping class="ru.sfedu.kibimedia.tables.Admins" />
    <mapping class="ru.sfedu.kibimedia.tables.Announcements" />
    <mapping class="ru.sfedu.kibimedia.tables.Coments" />
    <mapping class="ru.sfedu.kibimedia.tables.EventReg" />
    <mapping class="ru.sfedu.kibimedia.tables.Organizations" />
    <mapping class="ru.sfedu.kibimedia.tables.Pages" />
    <mapping class="ru.sfedu.kibimedia.tables.Photos" />
    <mapping class="ru.sfedu.kibimedia.tables.Users" />

  </session-factory>
</hibernate-configuration>
